@charset "UTF-8";

@font-face {
    font-family: 'porsche';
    src: url(../fonts/911porscha/911porschav3.ttf) format('truetype');
}

:root{
    --cor01: #BF1B39;
    --cor02: #F2C879;
    --cor03: #D9A05B;
    --cor04: #592202;
    --cor05: #F2F2F2;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
    
}

*{
    margin: 0px;
    padding: 0px;
    
}

main{
    background-color: var(--cor05);
    max-width: 500px;
    padding: 10px;
    margin: auto;
    border: 2px solid var(--cor04);
    border-radius: 20px;
    font-family: var(--fonte-padrao);
    text-align: justify;
    line-height: 1.5em;
    margin-bottom: 15px;
    
}

main > p {
    padding: 10px;
    font-family: var('--fonte-padrao');
    color: var(--cor04);
    font-weight: bolder;
    
}

html, body {
    min-height: 100vh;
    background-image: url('../imagens/porsche-mesclado.png');
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
    
    

}

header {
    background-image: linear-gradient(to bottom, var(--cor02), var(--cor05));
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 15px;

}

header > h1 {
    font-family: 'porsche';
    padding: 20px;
    text-align: center;
    color: var(--cor01);
    font-size: 4em;
    border-radius: 0px 0px 20px 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.39);
}

header > p {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
    
}

a {
    text-decoration: none;
    color: var(--cor01);
}

a:hover {
    text-decoration: none;
    text-align: center;
    color: var(--cor01);
    
}

footer a{
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor01);
}

footer p{
    text-align: center;
    padding: 10px;
    background-color: var(--cor03);
}